/* largeer is an invalid property vaule. Changed vaule to larger. */
p {
  font-size: larger; /* Console warning: Invalid property value */
}
/* font size needed a - */
h1 {
  font-size: 23xp;
  color: purple;
}
/* container was mispelled. */
.container {
  color: red;
  width: 500px;
  height: 500px;
  /* background should be the same as #output */
  background-color: #f0f0f0;
}
/* changed background-color to be the same as #output. */

#output {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #f0f0f0;
}
